#table, #table1 {
        text-align:center ;
        color: black ;
        margin-left: auto;
        margin-right: auto;
        border-spacing: 20px ;


}

.di{
        width: 200px ;
        height: 300px ;
        background-size: cover;
        background-position: center ;
        position: relative;
}

#pro1, #pro5{
        background-image: url(OIP.jfif) ;
       /* background-size: cover;
        background-position: center ;
        padding: 40px 40px 40px 40px ;*/
}
#pro2, #pro6{
        background-image: url(image2.jpg) ;
        /*background-size: cover;
        background-position: center ;
        padding: 40px 40px 40px 40px ;*/
}
#pro3, #pro7{
        background-image: url(download.jfif) ;
        /*background-size: cover;
        background-position: center ;
        padding: 40px 40px 40px 40px ;*/
}
#pro4, #pro8{
        background-image: url(top.jfif) ;
        /*background-size: cover;
        background-position: center ;
        padding: 40px 40px 40px 40px ;*/
}

.new{
    width: 30px ;
    height: 30px ;
    display: block ;
    float: right ;
    position: absolute;
    left: 10px;
    top: 10px;
}

.dis{
    width: 30px ;
    height: 30px ;
    display: block ;
    float: left ;
     position: absolute;
    right: 10px;
    top: 10px;
}
}